<%- include('header.ejs') %>

<div class="details">
    <div>
        Nom du QCM : <%= qcm.name %>
    </div>
    <div>
        Thème : <%= qcm.theme %>
    </div>
    <div>
        Sujet : <%= qcm.subject %>
    </div>        
</div>

<%- include('footer.ejs') %>