<%- include('header') -%>

    <% if (locals.qcms) { %>
      <ul>
        <% for (qcm of qcms) { %>
        <li><%= qcm.name %> (<%= qcm.subject %>)</li>
        <% } %>
      </ul>
    <% } %>

    <% if (locals.qcm) { %> 
      <p><%= qcm.name %> (<%= qcm.subject %>)</p>
    <% } %>

<%- include('footer') -%>