<%- include('header') -%>

    <% if (locals.qcms) { %>
      <ul>
        <% for (qcm of qcms) { %>
        <li><a href="/qcm/<%= qcm.id %>"><%= qcm.name %> (<%= qcm.subject %>)</a></li>
        <% } %>
      </ul>
    <% } %>

    <% if (locals.qcm) { %> 
      <p><%= qcm.name %> (<%= qcm.subject %>)</p>
    <% } %>

<%- include('footer') -%>